.sidebar {
    position: fixed;
    left: 0;
    top: 55px;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    /* transform: translateX(-100%); */
    transition: transform 0.3s ease-in-out;
    z-index: 1000; /* Ensure the sidebar is above other elements */
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .sidebar-toggle {
    position: fixed;
    top: 88px;
    left: 10px;
    background-color: #71777d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2000;
    width: fit-content;
    border-radius: 7px;
  }
  
  .close-sidebar {
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .sidebar-header {
    padding: 20px;
    /* background-color: #343a40; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sidebar-content {
    padding: 20px;
  }
  
  .sidebar-nav {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-item {
    margin-bottom: 10px;
  }
  
  .sidebar-link {
    display: block;
    padding: 5px 10px 5px 10px;
    color: #333;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .sidebar-link:hover {
    background-color: #e9ecef;
  }
  
  .sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  span.close-sidebar {
    padding-left: 55px;
  }
  
  .shead {
    position: fixed;
    top: 88px;
    left: 10px;
    background-color: #71777d;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2000;
    width: fit-content;
    border-radius: 7px;
  }
  li.sidebar-item.list-unstyled a {
    text-decoration: unset;
}